@import url(/css/fonts.css);

a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: green;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

h1 {
  font-family: tf2build;
  letter-spacing: 2px;
}

.small {
  font-family: tf2sec;
}

h2 {
  font-family: tf2;
}

.medic {
  font-family: tf2;
}