@import url(/css/fonts.css);
@import url(/css/topnav.css);

:root {
	--text-shadow: 1px 1px #000, 2px 2px #000;
	--server-button-height: 38px;
	--server-button-padding: 8px 24px;
	--server-button-margin: 0 2px 0 2px;
  --scrolling-container-height: 50px;
}

body {
  margin: 0;
  background-image: url(/assets/darkoak.png);
  overflow-x: hidden;
}

/* scrolling text */
.scrolling {
  height: var(--scrolling-container-height);
  line-height: var(--scrolling-container-height);
  text-align: center;

  overflow: hidden;

  background: #800000;
  color: #fff;

  font-family: tf2sec;
}
.scrolling marquee {
  text-align: center;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* big logo */
.oak-text {
  position: relative;
  z-index: 2;
  left: 70px;
}

.oak-cube {
  position: relative;
  z-index: 1;
  right: 50px;
  bottom: 60px;
}

@media (max-width: 446px) {
  /* must make a sacrifice */
  .oak-text {
    left: unset;
  }
  .oak-cube {
    display: none;
  }
}

/* grid */
.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
}
.grid-item-unmargin {
  padding: 20px;
  align-items: center;
  justify-content: center;
}
.grid-item {
  padding: 20px;
  align-items: center;
  justify-content: center;
  margin: auto;
}

/* headers and stuff */
h6 {
  color: #fff;
  font-family: tf2sec;
  font-size: 0.5em;
}

h2 {
  color: #fff;
  font-family: tf2build;
  font-size: 1em;
}

h3 {
  color: #fff;
  font-family: tf2;
}

p,
ul,
li {
  color: #fff;
  font-family: tf2sec;
  font-size: medium;
}

h1 {
  color: #fff;
  font-family: tf2build;
}

/*
h1, h2, h3, h4, h5, h6 {
  text-align: center;
}
*/

/* unvisited link */
a:link {
  color: green;
}

/* visited link */
a:visited {
  color: rgb(0, 82, 0);
}

/* PAGE - SERVERS
stolen from redchanit
*/

#servers {
  /*display: flex;*/
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  align-items: center;
  /*flex-wrap: wrap;*/
}


.server {
  --margin: 5px;
  position: relative;
  height: 290px;
  max-width: 320px;

  margin: var(--margin);
  padding: 8px;

  display: inline-flex;
  flex-direction: column;

  background: linear-gradient(0deg, #79472a, #81613c);
  color: #ffffff !important;

  border-radius: 10px;
  font-size: 20px;
  box-sizing: border-box;
}

.server * {
  box-sizing: border-box;
}

.server b {
  text-decoration: unset;
}

@media (max-width: 465px) {
  #servers {
    grid-template-columns: 1fr;
  }

  .server {
    /* center */
    max-width: fit-content;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}

@media (max-width: 501px) {
  .server {
    width: calc(100% - var(--margin) * 2);
  }
}

.gameMode .server {
  width: 100% !important;
}

.serverTitle {
  display: flex;
  height: 100%;
  align-items: center;
  text-shadow: 1px 1px #000000, 2px 2px #000000;
  font-family: tf2build;
}

.serverStatus {
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

.serverGame {
  min-width: 32px;
  width: 32px;
  min-height: 32px;
  height: 32px;
  margin-right: 10px;
}

.serverContent {
  margin-top: 8px;
  position: relative;
  text-shadow: 1px 1px #000000, 2px 2px #000000;
  font-family: tf2sec;
}

.serverMap {
  max-width: 100%;
  max-height: 190px;
  border-radius: 5px;
  opacity: 0.75;
  mask-image: linear-gradient(to bottom, rgb(0, 0, 0), rgba(0, 0, 0, 0));
  object-fit: cover;
  vertical-align: top;
  width: 100%;
}

.gameMode .serverMap {
  width: 100% !important;
}

.serverMapName {
  max-width: calc(100% - 16px);
  position: absolute;
  top: 3px;
  left: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.serverPlayers {
  max-width: calc(100% - 16px);
  position: absolute;
  bottom: 8px;
  left: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tooltip {
  border-bottom: 2px dotted #ffffff;
  margin-bottom: -2px;
}

.serverButtons {
  display: flex;
  align-items: center;
}

.serverButton {
  display: inline-block;
  
  outline: 0;
  border: 0;

  cursor: pointer;
  
  height: var(--server-button-height);
  padding: var(--server-button-padding);
	margin: var(--server-button-margin);
  
  border-radius: 50px;
  background-image: linear-gradient(0deg, #612400, #9c5f3c);
  
  box-shadow: 0 4px 11px 0 rgb(37 44 97 / 15%),
  0 1px 3px 0 rgb(93 100 148 / 20%);
  
  transition: all 0.2s ease-out;
  
  font-family: tf2;
  font-size: large;
  font-weight: 600;
  color: #fff;
  
  text-shadow: var(--text-shadow);
	text-decoration: none;

  user-select: none;
}

.serverButton:hover {
  box-shadow: 0 8px 22px 0 rgb(37 44 97 / 15%),
    0 4px 6px 0 rgb(93 100 148 / 20%);
	text-shadow: 0px 0px 5px currentColor;
}

.serverButton:hover .info,
.serverButton:hover .dynmap {
	filter: drop-shadow(0px 0px 3px currentColor);
}

.serverButton:active {
	filter: brightness(0.85);
	transform: translateY(2px);
}

.serverButton:link {
	color: rgb(255, 255, 255);
}

.serverStatusText {
	font-family: tf2;
	text-shadow: var(--text-shadow);

	height: var(--server-button-height);
	padding: var(--server-button-padding);
	margin: var(--server-button-margin);
	
  text-align: center;
	width: 100%;
}

.serverConnect {
  width: 100%;
  cursor: pointer;
}

.gameMode .serverConnect,
.gameMode .serverDynmap {
  display: none !important;
}

.serverInfo,
.serverDynmap {
  min-width: 40px;
}

.gameMode .serverInfo {
  width: 100% !important;
}

@media (max-width: 850px) {
  .serverInfo,
  .serverDynmap {
    width: 100% !important;
  }
}

.info {
  min-width: 24px;
  min-height: 24px;
  background: url(../images/info.png) no-repeat;
  background-size: 24px;
}

.dynmap {
  min-width: 24px;
  min-height: 24px;
  background: url(../images/dynmap.png) no-repeat;
  background-size: 24px;
}

steam-group {
  text-align: start;
  display: block;
  width: 510px;
}

@media (max-width: 465px) {
  steam-group {
    min-width: unset;
    width: 350px;
    min-height: 205px;
    height: unset;
  }
}


/* links */
a {
  background-color: transparent;
  text-decoration: none;
}

a:link {
  color: green;
}

a:visited {
  color: darkgreen;
}

a:hover {
  color: yellow;
}

a:active {
  color: gold;
}

/* centers */
.center-div {
  max-width: fit-content;
  margin-left: auto !important;
  margin-right: auto !important;
}
.center-text {
  text-align: center;
}
