@import url(/css/fonts.css);
@import url(/css/topnav.css);

body {
  margin: 0;
  background-color: #222020;
}

.paddington {
  padding-left: 800px;
  padding-right: 800px;
  padding-bottom: 15px;
}

.scrolling {
  height: 50px;
  overflow: hidden;
  position: relative;
  background: #800000;
  color: #fff;
  font-family: tf2sec;
}
.scrolling b {
  font-family: tf2;
}

.oakgif {
  position: relative;
  z-index: 1;
  right: 100px;
}

.oaktext {
  position: relative;
  z-index: 2;
}

/* grid */
.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  background-color: #2195f300;
  padding: 10px;
}
.grid-item-unmargin {
  background-color: rgba(255, 255, 255, 0);
  padding: 20px;
  font-size: 30px;
  align-items: center;
  justify-content: center;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0);
  padding: 20px;
  font-size: 30px;
  align-items: center;
  justify-content: center;
  margin: auto;
}

/* headers and stuff */
h6 {
  color: #fff;
  font-family: tf2sec;
  font-size: 0.5em;
}

h2 {
  color: #fff;
  font-family: tf2build;
  font-size: 1em;
}

h3 {
  color: #fff;
  font-family: tf2;
}

p, ul, li {
  color: #fff;
  font-family: tf2sec;
  font-size: medium;
}

h1 {
  color: #fff;
  font-family: tf2build;
}

/*
h1, h2, h3, h4, h5, h6 {
  text-align: center;
}
*/

/* unvisited link */
a:link {
  color: green;
}

/* visited link */
a:visited {
  color: rgb(0, 82, 0);
}

.center-div {
  max-width: fit-content;
  margin-left: auto !important;
  margin-right: auto !important;
}
.center-text {
  text-align: center;
}