@font-face {
    font-family: tf2;
    src: url(../fonts/TF2.woff) format('woff'),
         url(../fonts/TF2.woff2) format('woff2');
  }
  
  @font-face {
    font-family: tf2sec;
    src: url(../fonts/TF2Secondary.woff) format('woff'),
         url(../fonts/TF2Secondary.woff2) format('woff2');
  }
  
  @font-face {
    font-family: tf2build;
    src: url(../fonts/TF2Build.woff) format('woff'),
         url(../fonts/TF2Build.woff2) format('woff2');
  }

discord-widget {
    --color: #5865f2;
    --bgColor: #0c0c0d;
    --textColor: #fff;
    --buttonColor: #5865f2;
    --statusColor: #858585;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    border-radius: 6px;
    overflow: hidden;
    font-family: tf2sec;
    font-size: 14px;
    color: #fff;
  }
  discord-widget ::-webkit-scrollbar {
    width: 20px;
  }
  discord-widget ::-webkit-scrollbar-track {
    background: var(--bgColor);
  }
  discord-widget ::-webkit-scrollbar-thumb {
    background: #222;
    border: 8px solid var(--bgColor);
    border-radius: 10px;
    -webkit-transition: ease-in-out 0.5s;
    transition: ease-in-out 0.5s;
  }
  discord-widget ::-webkit-scrollbar-thumb:hover {
    background: var(--color);
    -webkit-transition: ease-in-out 0.5s;
    transition: ease-in-out 0.5s;
  }
  discord-widget widget-header {
    background-color: var(--color);
    padding: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
  discord-widget widget-header widget-logo {
    background: url(https://dipped.dev/static/images/discord-logo-white.svg) 50%
      no-repeat;
    width: 124px;
    height: 34px;
    background-size: 124px 34px;
    display: inline-block;
    -webkit-transition: opacity 0.25s ease-out;
    -o-transition: opacity 0.25s ease-out;
    transition: opacity 0.25s ease-out;
  }
  discord-widget widget-header widget-header-count {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: right;
  }
  discord-widget widget-body {
    background-color: var(--bgColor);
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-shadow: 0 1px 0 var(--bgColor);
    box-shadow: 0 1px 0 var(--bgColor);
    padding: 20px;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  discord-widget widget-body widget-member {
    position: relative;
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 0;
    -ms-flex: 0;
    flex: 0;
    margin: 6px 0;
  }
  discord-widget widget-body widget-member widget-member-avatar {
    margin-right: 4px;
    position: relative;
    contain: content;
  }
  discord-widget widget-body widget-member widget-member-avatar img {
    border-radius: 50%;
    height: 32px;
    width: 32px;
    border: 2px solid var(--color);
    background-color: var(--color);
  }
  discord-widget widget-body widget-member .widget-member-status {
    color: var(--statusColor);
    border-radius: 50%;
    bottom: 5px;
    height: 10px;
    position: absolute;
    right: 0;
    width: 10px;
    border: 2px solid var(--color);
  }
  discord-widget widget-body widget-member widget-member-status-online {
    background-color: #57f287;
    
  }
  discord-widget widget-body widget-member widget-member-status-idle {
    background-color: #fee75c;
  }
  discord-widget widget-body widget-member widget-member-status-dnd {
    background-color: #ed4245;
  }
  discord-widget widget-body widget-member widget-member-status-text {
    height: 32px;
    max-width: 80px;
    overflow: hidden;
    line-height: 32px;
    padding: 0 8px 0 37px;
    pointer-events: none;
    position: absolute;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    top: 0;
    left: 172px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    color: var(--statusColor);
  }
  discord-widget widget-body widget-member widget-member-name {
    font-weight: 700;
    height: 32px;
    max-width: 160px;
    overflow: hidden;
    line-height: 32px;
    padding: 0 8px 0 37px;
    pointer-events: none;
    position: absolute;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    top: 0;
    left: 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
  }
  discord-widget widget-footer {
    background-color: var(--bgColor);
    -webkit-box-shadow: 0 -1px 18px var(--bgColor), 0 -1px 0 var(--bgColor);
    box-shadow: 0 -1px 18px var(--bgColor), 0 -1px 0 var(--bgColor);
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding: 6px 6px 6px 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: right;
    -ms-flex-align: right;
    align-items: right;
    min-height: 30px;
  }
  discord-widget widget-footer widget-footer-info {
    display: inline-block;
    font-weight: 500;
    opacity: 0.1;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  discord-widget widget-footer widget-button-join {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 120px;
    height: 30px;
    border-radius: 4px;
    background-clip: padding-box;
    background-color: var(--color);
    color: var(--textColor) !important;
    text-decoration: none;
    font-weight: 700;
    -webkit-transition: opacity 0.25s ease-out;
    -o-transition: opacity 0.25s ease-out;
    transition: opacity 0.25s ease-out;
  }
  discord-widget widget-footer widget-button-join:hover {
    background-color: var(--buttonColor);
    cursor: pointer;
  }
  